#product-wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}
#product-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    flex-basis: 40px;
} 
#product-header *{
    margin: 0px;
}
#product-content{
    display: flex;
    flex-grow: 1;
}
#product-content > #table-wrapper{
    flex-grow: 1;
}
#product-content > .sidebar{
    flex-basis: 250px;
}
#table-wrapper{
    flex-grow: 1;
    height: 100%;
    overflow-y: scroll;
}

#product-content #dialog-wrapper .input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
}