#dashboard-wrapper {
  padding: 1px 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Product-Wrapper {
  grid-area: Product-Wrapper;
}
.Suppliers { grid-area: Suppliers; }
.Widget1 { grid-area: Widget1; }
.Widget2 { grid-area: Widget2; }
.Widget3 { grid-area: Widget3; }
.Widget4 { grid-area: Widget4; }