.data-table {
  border-spacing: 0px;
  width: 100%;
  display: block;
}
.data-table thead {
  display: block;
  position: sticky;
  top: 0px;
  background-color: white;
}
.data-table tbody {
  display: block;
  background-color: white;
}
.data-table tr {
  display: flex;
}
.data-table tr > * {
  flex-basis: 39%;
  display: block;
  flex-shrink: 0;
}
.data-table thead th {
  min-height: 27px;
  border-top: 2px solid rgba(0, 0, 0, 0.029);
  border-bottom: 2px solid rgba(0, 0, 0, 0.029);
}
.data-table tbody td {
  min-height: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.029);
}

.data-table td,
.data-table th {
  border-spacing: 0px;
  padding: 5px 10px;
  text-align: left;
}
