#content-wrapper {
  width: 100%;
  flex-grow: 1;
}
.data-table {
  border-spacing: 0px;
  width: 100%;
  display: block;
  font-size: 12px;
}
.data-table thead {
  display: block;
  position: sticky;
  top: 0px;
  background-color: white;
}
.data-table tbody {
  display: block;
  background-color: white;
}
.data-table tr {
  display: flex;
  border-top: 2px solid rgba(0, 0, 0, 0.029);
}
.data-table tr > * {
  flex-basis: 20%;
  display: block;
  flex-shrink: 0;
}
.data-table thead th {
  min-height: 15px;
}
.data-table tbody td {
  min-height: 20px;
  display: flex;
  align-items: center;
}

.data-table td,
.data-table th {
  border-spacing: 0px;
  padding: 5px 10px;
  text-align: left;
}
.data-table .row-dropdown {
  background-color: rgb(235, 235, 235);
  min-height: 130px;
  padding: 10px;
}
.data-table .row:hover .expand-btn{
  display: flex;
}
.data-table .row .expand-btn{
  display: none;
}
.data-table .row-dropdown.hide {
  display: none;
}
.data-table .row .row-data.expand-btn:hover{
  cursor: pointer;
}

.entity-wrapper{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}
.entity-header{
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    flex-basis: 40px;
}
.entity-header *{
  margin: 0px;
}
.entity-content{
  display: flex;
  flex-grow: 1;
  height: 1px;
  flex-direction: row;
}
.input-main-wrapper{
  display: flex;
}