#app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow:hidden;
}
#app-header-wrapper{
    flex-basis: 0px;
}
#app-main-wrapper{
    flex-grow: 1;
    display: flex;
    width: 100%;
    height: 100%;
}
#app-main-wrapper > #app-sidebar-wrapper{
    flex-basis: 200px;
    display: flex;
}
#app-main-wrapper > #app-content-wrapper{
    flex-grow: 1;
    display: flex;
}